@charset "utf-8";

/* reset 
------------------------------------------------------------*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	-o-box-sizing: border-box; -ms-box-sizing: border-box;
	box-sizing: border-box; }

html,body,p,h1,h2,h3,h4,h5,h6,table,th,td,ul,ol,li,dl,dt,dd,img,a { margin:0; padding:0; }
html { background:#FFF; }
body { font:95%/1.5 'メイリオ', 'ＭＳ Ｐゴシック','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka';
	font-weight:normal; font-style:normal; color:#333; text-align:center; }

table { border-collapse:collapse; }
td,th { line-height:1.5; vertical-align:top; text-align:left; }
strong { font-weight:bold; }
img { border:none; vertical-align:bottom; }
hr { display:none; }
fieldset { border:none; }
address { font-style:normal; }
ul { list-style:none; }
p { line-height:1.5; }
h1,h2,h3,h4,h5,h6,table,th,td,input,textarea { font-size: 100%; font-weight:normal; }

a:link		{ color:#00399D; text-decoration:underline; }
a:visited	{ color:#551A8B; text-decoration:underline; }
a:hover		{ color:#DA0009; text-decoration:none; }
a:active	{ color:#DA0009; text-decoration:none; }

.xxx-large { font-size:2.7em;}
.xx-large  { font-size:1.75em;}
.x-large   { font-size:1.5em;}
.large     { font-size:1.3em;}
.s-large   { font-size: 1.15em;}
.mid       { font-size:1em;}
.small     { font-size:0.92em;}
.x-small   { font-size:0.75em;}

.c_red    { color:red; }
.c_purple { color:purple; }
.c_blue   { color:blue; }
.c_green  { color:green; }
.c_yellow { color:yellow; }
.c_orange { color:orange; }
.c_gray   { color:gray; }

.clearfix:after{ content:"."; display: block; height:0px; clear:both; line-height:0;  visibility:hidden;  }

.ov50:hover { opacity: 0.25; }
.ov50:hover { opacity: 0.50; }
.ov75:hover { opacity: 0.75; }
.oi25:hover img { opacity: 0.25; }
.oi50:hover img { opacity: 0.50; }
.oi75:hover img { opacity: 0.75; }

.pos_al { text-align:left;}
.pos_ac { text-align:center;}
.pos_ar { text-align:right;}

.pos_vt { vertical-align:top; }
.pos_vm { vertical-align:middle; }
.pos_vb { vertical-align:bottom; }

.fl_left  { float:left; }
.fl_right { float:right; }
.fl_left  .fl_image { margin:0 15px 5px 0; }
.fl_right .fl_image { margin:0 0 5px 15px; }

.list_pager { margin-bottom:20px; }
.list_pager ul { text-align: center; }  
.list_pager ul li { display: inline; }  
.list_pager ul li strong { display:-moz-inline-box; display:inline-block; padding:2px 7px 4px; background:#EEE; border:1px #CCC solid; }  
.list_pager ul li a { display:-moz-inline-box; display:inline-block; padding:2px 7px 4px; border:1px #CCC solid; } 
.list_pager ul li a:hover { background:#406E6E; color:#FFF; border:1px solid #406E6E; }

.mb5  { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mt10 { margin-top:10px; }
.mt-10 { margin-top:-10px; }
.mr20 { margin-right:20px; }
.ml20 { margin-left:20px; }

.w10 { width:10px; }
.w20 { width:20px; }
.w30 { width:30px; }
.w40 { width:40px; }
.w50 { width:50px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w100 { width:100px; }
.w110 { width:110px; }
.w120 { width:120px; }
.w130 { width:130px; }
.w140 { width:140px; }
.w150 { width:150px; }
.w160 { width:160px; }
.w170 { width:170px; }
.w180 { width:180px; }
.w190 { width:190px; }
.w200 { width:200px; }
.w210 { width:210px; }
.w220 { width:220px; }
.w230 { width:230px; }
.w240 { width:240px; }
.w250 { width:250px; }
.w450 { width:450px; }
.w550 { width:550px; }
.w100p { width:100%; }

.error { border:2px solid #cc0000; padding:10px; background:#ffeeee; }
.ok    { border:2px solid #00AAFF; padding:10px; background:#eeffff; }

.btn {
	display: inline-block; zoom: 1;
	vertical-align: baseline; color:#fff;
	margin: 0 2px; padding: .5em 2em .55em;
	outline: none; cursor: pointer;
	text-align: center; text-decoration: none; text-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border-radius: 2em; -webkit-border-radius: 2em; -moz-border-radius: 2em;
}
.btn:link { color:#fff; text-decoration: none; }
.btn:visited { color:#fff; }
.btn:hover { cursor: pointer; }

.btn_blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.btn_blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}


/* layout
------------------------------------------------------------*/
#header { padding:10px 0 3px 0; background:#fff; border-bottom:5px solid #4756a6; box-shadow:0 5px 10px #aaaaaa;}
#header a { display:block; }
	#top #header { position:absolute; width:100%; top:0; z-index:+100: }

#navi { border-top:1px solid #999; }
#navi ul {}
#navi li { border-bottom:1px solid #999; }
#navi li a { display:block; margin:0 auto; max-width:420px; text-align:left; padding:1.2em 0 1.2em 60px; }
#navi li:hover { background-color:#f0f0f0; }
	.navi_1 a { background:url(./images/navi_1.png) no-repeat left center; }
	.navi_2 a { background:url(./images/navi_2.png) no-repeat left center; }
	.navi_3 a { background:url(./images/navi_3.png) no-repeat left center; }
	.navi_4 a { background:url(./images/navi_4.png) no-repeat left center; }
	.navi_5 a { background:url(./images/navi_5.png) no-repeat left center; }
	.navi_6 a { background:url(./images/navi_6.png) no-repeat left center; }
	.navi_7 a { background:url(./images/navi_7.png) no-repeat left center; }

#footer { padding-top:5em; }
#footer .copyright { padding-bottom:1.5em; }
#footer_button { background:#333; padding:2em; color:#fff; }
#footer_button ul li { display:inline; }
#footer_button img { margin-top:5px; }

#main_image { height:800px; }
.main_image_area { margin-top:-200px; height:800px; overflow: hidden; text-align:center; }
#main_image h2,
#main_image h3, 
#main_image .button { position:relative; color:#fff; text-shadow:1px 1px 5px #333,3px 3px 6px #666; }
#main_image h2 { top:-380px; }
#main_image h3 { top:-350px; }
#main_image .button { top:-300px; }

#page #body { width:70%; float:right; padding-bottom:50px; border-left:1px solid #999;}
#page #navi { width:30%; float:left; }
#page #navi li a { margin-left:10px; }

.base { text-align:left; max-width:700px; margin:0 auto; }


/* pages
------------------------------------------------------------*/
.wrap { margin-bottom:40px; }

.h_1 { background:#e5efff; padding:28px 10px; margin-bottom:20px; }
.h_1 h2 { display:inline; font-weight:bold; line-height:1; font-size:1.9em; color:#4756a6; letter-spacing:10px; }

.h_2 { background:#e5efff; border:1px solid #4756a6; padding:5px 8px; margin:30px auto 10px; 
	color:#4756a6; text-shadow:1px 1px 0px #eee; font-size:1.15em; text-align:center; 
	border-radius: 2em; -webkit-border-radius: 2em; -moz-border-radius: 2em; }

.h_3 { padding:5px 11px; color:#fff; text-shadow: 1px 1px 0px #194CA3; font-weight:bold; margin-bottom:10px;
		background-image: -ms-linear-gradient(top, #194CA3 0%, #4B73B7 100%);
		background-image: -moz-linear-gradient(top, #194CA3 0%, #4B73B7 100%);
		background-image: -o-linear-gradient(top, #194CA3 0%, #4B73B7 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #194CA3), color-stop(1, #4B73B7));
		background-image: -webkit-linear-gradient(top, #194CA3 0%, #4B73B7 100%);
		background-image: linear-gradient(to bottom, #194CA3 0%, #4B73B7 100%);
}

#page_detail {}
	#page_detail h3 { padding:5px 5px 5px 15px; background:#e5efff; border-left:5px solid #4756a6; font-size:1.5em; margin-bottom:20px; }
	#page_detail p { margin-bottom:10px; }
	#page_detail table { border-top:1px solid #999; border-right:1px solid #999; width:100%; }
	#page_detail th,
	#page_detail td { border-left:1px solid #999; border-bottom:1px solid #999; padding:10px; vertical-align:middle; }
	#page_detail thead th { background:#666; color:#fff;  }
	#page_detail tbody th { background:#ddd; }
	#page_detail dl {}
	#page_detail dt { padding:5px 5px 5px 15px; background:#e5efff; border-left:5px solid #4756a6; font-size:1.5em; }
	#page_detail dd { padding:10px 0 20px 10px; }

#time_table {}
	#time_table tbody tr:hover { opacity:0.7; }
	#time_table tbody th { text-align:center; }
	#time_table tbody th, 
	#time_table tbody td { background:#d6f5d4; }
	#time_table .o1 th, 
	#time_table .o1 td { background:#f0f0f0; }
	#time_table .t30 th, 
	#time_table .t30 td { background:#afe0ff; }


/* size
------------------------------------------------------------*/
@media screen and (max-width: 1024px){
	#page #body, 
	#page #navi { width:100%; float:none; }
	#page #navi li a { margin-left:auto; }
}

@media screen and (max-width: 768px){
	#navi li a, 
	#page #navi li a { margin-left:10px; padding:1.2em 0 1.2em 50px; }
	
	h1 a { padding:0 1em; }
	#main_image { height:700px; }
	.main_image_area { height:700px; }
	.main_image_area img { margin-left:-600px; }
	
	.xxx-large { font-size:2.5em; }
	
}
